/* Main container for the circular navigation */
.fixed {
  position: fixed;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%); 
  width: 10rem;
  height: 10rem;
  cursor: pointer;
}

/* Semicircle Container */
.circle{
  margin-top:-250px;
  margin-left:-2rem;
  position: relative;
  width: 250px;
  height: 250px; /* Only half the circle for a semicircle effect */  
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;  
  
}
.semicircle {
  margin-top:-9rem;
  margin-left:-130px;
  position: relative;
  width: 250px;
  height: 250px; /* Only half the circle for a semicircle effect */
  border-radius: 50%; /* Top half of the circle */
  border: 2px solid white;

  
  
}

/* Individual icons inside the semicircle */
.icon {
  text-align: center;
  width: 48px;
  height: 48px;
  background: black;
  border-radius: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}



/* Icon images */
.icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Active icon styles */
.icon.active {
  width: 60px;
  height: 60px;
  box-shadow: 0 0 15px 10px rgba(255, 0, 255, 0.5), 
              0 0 25px 15px rgba(0, 255, 255, 0.3);
  border: 4px solid white;
}

/* Adjust hover effects */
.icon:hover {
  transform: scale(1.1);
  border: 4px solid white;
  box-shadow: 0 0 10px 5px rgba(0, 255, 255, 0.3);
}